<!DOCTYPE HTML>
<html>
	<head>
		<title>Tentang Kami</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainawesome.css') }}" />
	</head>
	<body>
		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<header class="special">
							<h2>Tentang Kami</h2>
							<p>Drone Monitoring Apps</p>
						</header>
						<div class="content">
							<p>Kami mendapat kesempatan untuk kerja praktik di Badan Pengkajian Dan Penerapan Teknologi (BPPT) di Pusat Teknologi Elektronika di Serpong, Banten.
							<br>
							<br>
							Dalam project aplikasi ini, kami membuat aplikasi Drone Monitoring berbasis web (web-based) dikarenakan masih jarangnya aplikasi drone monitoring yang dapat dikontrol di hampir semua device. Kami berdua adalah mahasiswa Departemen Informatika ITS 2016. Aplikasi ini bertujuan selain untuk membuat, juga untuk memenuhi nilai mata kuliah Kerja Praktik kami
							<br>
							<br>
							Pembimbing kami:
							<br>
							Dr. Hadziq Fabroyir, S.Kom., M.Sc. (Sebagai Dosen Pembimbing dari Departemen Informatika ITS)
							<br>
							Dr. Fadjar Rahino Triputra (Sebagai Pembimbing Lapangan dari Badan Pengkajian Dan Penerapan Teknologi (BPPT) Serpong, Banten)</p>
							<br>
							<p>
							Nama Mahasiswa yang membuat aplikasi ini:
							<br>
							Akmal Darari Rafif Baskoro - 05111640000148
							<br>
							Irham Muhammad Fadhil - 05111640000085
							<br>
							Departemen Informatika
							<br>
							Institut Teknologi Sepuluh Nopember
							<br>
							Surabaya, Jawa Timur</p>

						<ul class="actions">
							<center><li><a href="/" class="button special big">KEMBALI KE MENU UTAMA</a></li></center>
						</ul>
						<br>
						</div>

						
					</section>



		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
