<!DOCTYPE HTML>
<html>
	<head>
		<title>Cara Pakai Drone Kit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainawesome.css') }}" />
	</head>
	<body>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<header class="special">
							<h2>Bagaimana cara memakai aplikasi ini?</h2>
							<p>Drone Monitoring Apps</p>
						</header>
						<div class="content">
							<ul>
								<img src="{{ url_for('static', filename='img/main_menu.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Pertama, buka http://localhost:5000 atau http://127.0.0.1:5000 pada browser. Lalu klik
								tombol MENU di bawah</p></li>
								<li><p>Kemudian pada "MENU" klik "Mulai Drone Monitoring" untuk memulai drone tracking.</p></li>
								<img src="{{ url_for('static', filename='img/connect.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Kemudian muncul halaman koneksi. Masukkan jenis koneksi, IP address, port pada drone (untuk menyambungkan ke Dronekit-SITL simulator, 
								masukkan jenis koneksi TCP, ip address 127.0.0.1, port 5760. Kemudian Masukkan garis lintang dan garis bujur home location dronenya.</p></li>
								<img src="{{ url_for('static', filename='img/sukses_connect.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Tunggu beberapa saat, lalu akan muncul halaman yang memberitahukan bahwa koneksi sukses. Lalu klik "Kembali ke menu utama"</p></li>
								<img src="{{ url_for('static', filename='img/main.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Kemudian muncul halaman utama yang menampilkan peta, navbar, dan data telemetri drone.</p></li>
								<img src="{{ url_for('static', filename='img/navbar.PNG') }}" alt="main menu" height="100", width="900">
								<li><p>Pada Navbar, terdapat menu:</p>
									<ul>
									<li><p><b>Halaman Utama</b>, untuk kembali ke halaman utama.</p></li>
									<li><p><b>Cara Pakai</b>, untuk melihat cara pakai aplikasi ini.</p></li>
									<li><p><b>Monitoring</b>, untuk melihat posisi dan data telemetri drone.</p></li>
									<li><p><b>Add New Waypoint</b>, untuk menambahkan waypoint baru.</p></li>
									<li><p><b>Takeoff</b>, untuk menerbangkan drone.</p></li>
									<li><p><b>Go To</b>, untuk menjalankan drone melalui waypoint yang telah di-<i>set</i>.</p></li>
									<li><p><b>Landing</b>, untuk mendaratkan drone.</p></li>
									<li><p><b>Clear Waypoints</b>, untuk menghapus waypoint. Tetapi untuk melakukan hal itu harus mendaratkan drone terlebih dahulu.</p></li>
									<li><p><b>Disconnect</b>, untuk memutuskan sambungan dengan drone.</p></li>
									</ul>
								</li>
								<img src="{{ url_for('static', filename='img/wp1.PNG') }}" alt="main menu" height="350", width="500">		
								<li><p>Untuk menambahkan waypoint, klik tombol <b>Add New Waypoint</b> pada navbar, lalu muncul tampilan seperti di atas. Isi latitude, longi
								tude, ketinggian, dan kecepatan yang diinginkan. Jika menginginkan kecepatan default, maka masukkan -1 pada kecepatan.</p></li>
								<img src="{{ url_for('static', filename='img/wp2.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Jika sudah menambahkan waypoint, maka daftar waypoint akan tampil di bawah dan pada peta di halaman monitoring. Kemudian jika kita telah
								selesai menambahkan waypoint, klik <b>Go To</b> untuk memulai perjalanan, atau <b>Main Menu</b> untuk kembali ke halaman monitoring.</p></li>
								<img src="{{ url_for('static', filename='img/takeoff1.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Untuk take off, klik <b>Takeoff</b> pada navbar. Kemudian muncul halaman seperti di atas. Masukkan altitude yang diinginkan lalu klik <b>
								Takeoff!</b></p></li>
								<img src="{{ url_for('static', filename='img/takeoff2.PNG') }}" alt="main menu" height="350", width="500">
								<li><p>Setelah takeoff berhasil, muncul halaman seperti di atas, kemudian klik <b>Kembali ke menu utama</b>.</p></li>
								<li><p>Untuk memulai perjalanan, klik <b>Go To</b>. Pastikan sudah men-set waypoint dan men-takeoff kan drone terlebih dahulu!<br>
								<p>Error yang akan terjadi:</p>
								<ul>
									<li>Jika belum men-set waypoint, maka akan dialihkan ke halaman waypoint untuk men-set waypoint terlebih dahulu.</li>
									<img src="{{ url_for('static', filename='img/gotoerror.PNG') }}" alt="main menu" height="350", width="500">
									<li>Jika belum men-takeoffkan drone, maka akan muncul pesan error seperti di atas. Klik <b>Takeoff</b> untuk menerbangkan drone, 
									atau klik <b>Kembali ke menu utama</b> untuk kembali ke halaman monitoring.</li>
								</ul>
								<img src="{{ url_for('static', filename='img/otw.PNG') }}" alt="main menu" height="350", width="500">
								<p>Jika berhasil, maka akan muncul tampilan seperti ini di halaman monitoring.</p>
								</li>
								<li>Untuk mendaratkan pesawat, klik <b>Landing.</b> Setelah itu akan dialihkan ke halaman monitoring.</li>
								<li>Untuk menghapus waypoint, klik <b>Clear Waypoints</b>. Pastikan pesawat telah didaratkan sebelum menghapus waypoint. <br>
								<p>Error yang akan terjadi:</p>
								<ul>
									<img src="{{ url_for('static', filename='img/clearwperror.PNG') }}" alt="main menu" height="350", width="500">
									<li>Jika belum mendaratkan pesawat, maka muncul pesan error seperti di atas. Klik <b>Daratkan Pesawat Ini</b> untuk mendaratkan drone,
									atau klik <b>Kembali ke menu utama</b> untuk kembali ke halaman monitoring.</li>
								</ul></li>
								<li>Untuk mendisconnect dengan drone, klik <b>Disconnect</b>. Kemudian, akan dialihkan ke halaman utama dan semua waypoint akan dihapus.</li>
							</ul>
						<ul class="actions">
							<center><li><a href="/" class="button special big">KEMBALI KE MENU UTAMA</a></li></center>
						</ul>
						<br>
						</div>

						
					</section>



		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
