<!DOCTYPE HTML>
<html>
	<head>
		<title>Cara Pakai Drone Kit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainawesome.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Cara Pakai Drone Kit</a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="css/backgroundformulir.jpg" alt="" />
						</div>
						<header class="special">
							<h2>Bagaimana cara memakai aplikasi ini?</h2>
							<p>Drone Monitoring Apps</p>
						</header>
						<div class="content">
							<p>Blablabalablablablaba</p>

						<ul class="actions">
							<center><li><a href="/" class="button special big">KEMBALI KE MENU UTAMA</a></li></center>
						</ul>
						<br>
						</div>

						
					</section>



		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>