<!DOCTYPE html>
<html>
<head>
	<title>Connect</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
</head>
<body>

    <center><h2>Drone Connect</h2></center>
    <div class="login">
    <form action="#" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.lat.label }} <br> {{ form.lat }}</p>
        <p>{{ form.lon.label }} <br> {{ form.lon }}</p>
        <p>{{ form.submit() }}</p>
    </form>
	</body>
	</html>


