<!DOCTYPE html>
<html>
<head>
	<title>Go To Error</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
</head>
<body>
        <center><h2>Go To Error</h2></center>
		<center><p>Untuk dapat memulai perjalanan drone, Anda harus take-off drone ini terlebih dahulu!</p></center>
		<center><button onclick="window.location.href = '/takeoff';">Takeoff drone ini</button></center>
		<center><p>-atau-</p></center>
        <center><button onclick="window.location.href = '/menu';">Kembali ke menu utama</button></center>
</body>
</html>