<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="3">
<style>
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: tahoma;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: tahoma;
}

.topnav a:hover {
  background-color: #1E90FF;
  color: black;
}

.topnav a.active {
  background-color: #1E90FF;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
<style>
.vertical-menu {
  width: 30%;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-family: tahoma;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.vertical-menu p {
    color: blue;
    font-size: 14pt;
    font-family: tahoma;
    
}
</style>

<style>
.right-menu {
width = 100%
}
</style>

    <title>Drone Controller</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>

    <script src="{{ url_for('static', filename='libs/leaflet-src.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/leaflet.css') }}"/>

    <script src="{{ url_for('static', filename='src/Leaflet.draw.js') }}"></script>
    <script src="{{ url_for('static', filename='src/Leaflet.draw.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.draw.css') }}"/>

    <script src="{{ url_for('static', filename='src/Toolbar.js') }}"></script>
    <script src="{{ url_for('static', filename='src/Tooltip.js') }}"></script>

    <script src="{{ url_for('static', filename='src/ext/GeometryUtil.js') }}"></script>
    <script src="{{ url_for('static', filename='src/ext/LatLngUtil.js') }}"></script>
    <script src="{{ url_for('static', filename='src/ext/LineUtil.Intersect.js') }}"></script>
    <script src="{{ url_for('static', filename='src/ext/Polygon.Intersect.js') }}"></script>
    <script src="{{ url_for('static', filename='src/ext/Polyline.Intersect.js') }}"></script>
    <script src="{{ url_for('static', filename='src/ext/TouchEvents.js') }}"></script>

    <script src="{{ url_for('static', filename='src/draw/DrawToolbar.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.Feature.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.SimpleShape.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.Polyline.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.Marker.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.Circle.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.CircleMarker.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.Polygon.js') }}"></script>
    <script src="{{ url_for('static', filename='src/draw/handler/Draw.Rectangle.js') }}"></script>


    <script src="{{ url_for('static', filename='src/edit/EditToolbar.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/EditToolbar.Edit.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/EditToolbar.Delete.js') }}"></script>

    <script src="{{ url_for('static', filename='src/Control.Draw.js') }}"></script>

    <script src="{{ url_for('static', filename='src/edit/handler/Edit.Poly.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/Edit.SimpleShape.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/Edit.Rectangle.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/Edit.Marker.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/Edit.CircleMarker.js') }}"></script>
    <script src="{{ url_for('static', filename='src/edit/handler/Edit.Circle.js') }}"></script>
    <script src="/static/socket.io.min.js"></script>
</head>
<body>
        <div class="topnav">
        <a href="/">Halaman Utama</a>
        <a class="active" href="#drone">Monitoring</a>
        <a href="/waypoint">Add New Waypoint</a>
        <a href="http://127.0.0.1:5000/takeoff">Takeoff</a>
        <a href="http://127.0.0.1:5000/goto">Go To</a>
		    <a href="http://127.0.0.1:5000/land">Landing</a>
		    <a href="/clearwp">Clear Waypoints</a>
        <div class="topnav-right">
        <a href="/disconnect">Disconnect</a>
        </div>
        </div>

        <div class="vertical-menu">
        <p>Drone Telemetry Data</p>
        <br>
        <p>Latitude: {{latitude}}</p>
        <p>Longitude: {{longitude}}</p>
        <p>Altitude: {{altitude}} m</p>
        <p>Heading: {{head}}</p>
        <p>Speed: {{groundspeed}} kmh</p>
        <p>Battery: </p>
		    <p> Go to waypoint {{way}}</p>
        <br><br>
        <button onclick="window.location.href='/disconnect'" class="tombol">Disconnect</button>
        </div>

<div id="map" style="position: absolute; width: 1100px; height: 600px; left: 260px; top: 70px; right: 100px; border: 1px solid #ccc"></div>

<script>
	function myFunc(vars) {
		return vars
	}
    var lat = myFunc({{latitude}})
	var longi = myFunc({{longitude}})
	
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
            map = new L.Map('map', { center: new L.LatLng(lat, longi), zoom: 13 }),
            drawnItems = L.featureGroup().addTo(map);
			var marker;
			marker = L.marker([lat, longi]).addTo(map);
	var latlng = [[lat, longi], [-6.2555,106.888]]
	var polyline = L.polyline(latlng, {color: 'red'}).addTo(map);
			
    L.control.layers({
        'osm': osm.addTo(map),
        "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
            attribution: 'google'
        })
    }, { 'drawlayer': drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    map.addControl(new L.Control.Draw({
        edit: {
            featureGroup: drawnItems,
            poly: {
                allowIntersection: false
            }
        },
        draw: {
            polygon: {
                allowIntersection: false,
                showArea: true
            }
        }
    }));
	
	var waypoint_polyline = [];
	var polyline;
	/*while (true) {
		waypoint_polyline.push([lat, longi]);
		polyline = L.polyline(waypoint_polyline).addTo(map);
	}*/
	
    map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;

        drawnItems.addLayer(layer);
    });

</script>
</body>
</html>
