<!DOCTYPE html>
<html>
<head>
	<title>Waypoint</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
</head>
<body>

    <h1>Add Waypoint Form</h1>
    <div class="login">
    <form action="#" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.lat.label }} <br> {{ form.lat }}</p>
        <p>{{ form.lon.label }} <br> {{ form.lon }}</p>
        <p>{{ form.alt.label }} <br> {{ form.alt }}</p>
		<p>{{ form.gspeed.label }} <br> {{ form.gspeed }}</p>
        <p>{{form.submit()}} </p>
    </form>
    <button onclick="window.location.href='/menu'" class="tombol">Main Menu</button>
    <button onclick="window.location.href='/goto'" class="tombol">Goto</button>
	</body>
	</html>


